PORT=4000
NODE_ENV=development

JWT_SECRET=
JWT_EXPIRES_IN=12h

FIREBASE_DATABASE_URL=https://honeychain-3630b-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=honeychain-3630b
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_EMULATOR_HOST=

FIREBASE_STORAGE_BUCKET=honeychain-3630b.appspot.com

WEB_ORIGIN=http://localhost:5173
PUBLIC_WEB_ORIGIN=http://localhost:5173

HIVE_ID=NODE_01
TELEMETRY_RETENTION_DAYS=30
NODE_OFFLINE_AFTER_MS=30000

CHAIN_RPC_URL=http://127.0.0.1:8545
HONEY_BATCH_CONTRACT=
POLLINATION_ESCROW=
RECONCILER_PRIVATE_KEY=
